%h2 #{title}
%a(href="/words/add_new") New Word
%hr
#words
- words.each do |word|
  #word
    #word_original
      %a(href='/words/#{word._id}') #{word.original}
      %a(href='/words/#{word._id}/edit') Edit
      &nbsp;
      %a(class='destroy' href='/#{word._id}') Delete

